* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  /* display: flex; */
  padding: 0.1pc;
  height: 37.2pc;
  box-sizing: border-box;
  background-color: rgba(211, 205, 205, 0.516);
}
main{
  display: flex;
  height: 37pc;
}
.left-sidebar {
  background-color: rgb(255, 255, 255);
  width: 20%;
  float: left;
  color: white;
  box-sizing: border-box;
  padding: 0.5pc;
  height: 100%;
  clear: both;
}

.right-sidebar {
  width: 80%;
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  
}


.left-sidebar-title {
  height: 4pc;
  border-bottom: rgba(79, 78, 78, 0.374) solid 1px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5pc;
  gap: 7px;
  font-weight: 900;
  color: #1d2f41;
  box-sizing: border-box;

}

.top {
  background-color: #1d2f41;
  width: 100%;
  color: white;
  font-size: 1.5pc;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding: 0 0.8pc;
  height: 4pc;
  box-sizing: border-box;
  justify-content: space-between;
}

.top-right {
  display: flex;
  gap: 0.2pc;
  flex-direction: row-reverse;
  align-items: center;


}

.profile-pic {
  height: 3pc;
  border-radius: 50%;
  margin-right: 0;
  width: 3pc;
}

.top-right span {
  font-size: 15px;
  visibility: hidden;
  position: absolute;
  margin-top: 5pc;
  font-weight: 550;
  padding: 6px;
  background-color: rgb(53, 55, 171);
  border-top-right-radius: 18px;
  z-index: 1;
  border-bottom-left-radius: 13px;
}

.profile-pic:hover~span {
  visibility: visible;
}

.footer {
  width: 100%;
  height: 3.5pc;
  background-color: rgb(116, 118, 139);
  color: black;
  font-size: 1.5pc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-top {
  width: 100%;
  height: 18pc;
  max-height: 18pc;
  display: grid;
  gap: 1pc;
  padding: 1pc;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
}

.card {
  background-color: white;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 0.4pc;
  box-sizing: border-box;
  padding: 0.4pc;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


}
.card-top{
  max-height: 99.9%;
}
.card-title{
  font-size: 1.4pc;
  text-transform: capitalize;
}
.card-no{
  font-size: 1.7pc;
  color: blue;
}

.left-menu {
  display: flex;
  flex-direction: column;
  padding: 1pc 0;
  gap: 0.5pc
  
}

.left-menu .menu-item {
  /* background-color: #1d2f41; */
  padding: 10px;
  display: flex;
  font-size: 1pc;
  font-weight: 500;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  gap: 8px;
  color: black;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
}

.left-menu .menu-item:hover {
  background-color: #1d2f41;
  color: white;
}

.main {
  width: 100%;
  box-sizing: border-box;
  width: 97%;
}

.dash-main {
  height: 10pc;
  width: 100%;
  box-sizing: border-box;
  gap: 1pc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1pc;

}

.main-table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0.4pc;
  display: flex;
  flex-direction: column;
}
.main-table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5pc;
}
.main-table-top-left {
  display: flex;
  gap: 0.5pc;
}
.main-table-top-left button {
  padding: 0.3pc 0.8pc;
  background-color: #021261;
  color: white;
  height: 2pc;
  border: none;
  border-radius: 0.3pc;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5pc;
  font-weight: 600;
}
.main-table-top-left button:hover {
  background-color: rgb(19, 21, 115);
}
.main-table-top input {
  padding: 0.3pc;
  width: 25%;
  outline :1px solid rgba(79, 78, 78, 0.374);
  border: rgba(79, 78, 78, 0.374) solid 1px;
  border-radius: 0.3pc;
}
.main-table-body {
  width: 100%;
  height: 100%;
  margin: 2pc auto;
  box-sizing: border-box;
  padding: 0.5pc;
  max-height: 25pc;
  overflow: auto;
}
.main-table-body table {
  width: 100%;
  border-collapse: collapse;
}
.main-table-body table thead {
  background-color: #1d2f41;
  color: white;
}
.main-table-body table thead tr {
  height: 2.5pc;
}
.main-table-body table thead tr th {
  padding: 0.5pc;
  text-align: left;
}
.main-table-body table tbody tr {
  height: 2.5pc;
  border-bottom: rgba(79, 78, 78, 0.374) solid 1px;
}
.main-table-body table tbody tr td {
  padding: 0.5pc;
}
.main-table-body table tbody tr:hover {
  background-color: rgba(79, 78, 78, 0.374);
}
.main-table-body table tbody tr td:last-child {
  display: flex;
  gap: 0.5pc;
  width:6pc;
}
.main-table-body table tbody tr td:last-child button {
  padding: 0.3pc 0.8pc;
  background-color: #021261;
  color: white;
  height: 2pc;
  border: none;
  border-radius: 0.3pc;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5pc;
  font-weight: 600;
}
.main-table-body table tbody tr td:last-child button:hover {
  background-color: rgb(18, 21, 182);
} 



@media (max-width:720px){
  main{
    height: 32pc;
  }
  .container{
    overflow-x: auto;
  }
   .left-sidebar{
    width: 50%;
    display: none;
   }
   .right-sidebar{
        width: 100%;
   }
   .dash-top{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
   }
   .card-title{
    font-size: 12px;
   }
   .card-no{
    font-size: 1pc ;
   }
   .dash-main{
    grid-template-columns: repeat(3,1fr);
   }
   .card.small{
    height: 4pc;
   }
}